<div id="about-header" class="header-window">
    <span class="title">About Wam Open Studio</span>
    <button id="about-close-button" class="close-button">X</button>
</div>
<div class="settings-body" style="display:flex; justify-content: center; align-items: center">
    <div>
        Contributors
    </div>
    <div class="settings-small-item-text">
        Wam Open Studio is a Work-In-Progress project by <a href="https://github.com/Brotherta" target="_blank">Antoine
            Vidal-Mazuy</a>,
        <a href="https://github.com/micbuffa" target="_blank">Michel Buffa</a> and <a href="https://github.com/Jempasam"
            target="_blank">Samuel Demont</a>.
        It is based on the <a href="https://github.com/webaudiomodules" target="_blank">Web Audio Modules
            standard</a> (WAM),
        which is an open source project that aims to make audio plugins available for the Web platform (aka VSTs
        for the Web).
        It has been developed as a showcase for the WAM standard, and to help developers understand how to use
        it.more
        You can find the DAW source code on <a href="https://github.com/Brotherta/wam-refont"
            target="_blank">Github</a>.
        If you want to contribute, please contact us by email (<a
            href="mailto:michel.buffa@univ-cotedazur.fr">michel.buffa@univ-cotedazur.fr</a>,
        <a href="mailto:antoine.vidalma@gmail.com">antoine.vidalma@gmail.com</a>) or
        in the #webaudio / webaudiomodules slack channel (get invitation here : <a
            href="https://web-audio-slackin.herokuapp.com/"
            target="_blank">https://web-audio-slackin.herokuapp.com/</a>).
    </div>

    <div>
        Special thanks
    </div>
    <div class="settings-small-item-text">
        Thanks to Paul Adenot from Mozilla for his help and tools: his Ring buffer, metronome and latency tester
        code has been adapted and included in this DAW.
        Original code can be found in
        <a href="https://github.com/padenot" target="_blank">Paul's GitHub repo</a>.
    </div>
    <div class="settings-small-item-text">
        Thanks also to <a href="https://github.com/QuentinBeauchet" target="_blank">Quentin Beauchet</a> for his
        help and his contributions
        with the Pedalboard / plugin manager (<a href="https://wam-bank.vidalmazuy.fr" target="_blank">wam-bank</a>).
    </div>

    <div>
        Web Audio Modules
    </div>
    <div class="settings-small-item-text">
        Web Audio Modules 2.0 contributors: Michel Buffa, Jerome Lebrun, Shihong Ren, Owen Campbell, Tom Burns,
        Steven Yi, Jari Kleimola, Oliver Larkin
    </div>
    <br>
    <div style="width: 100%; display: flex; justify-content: center">
        <img src="images/WAM.png" alt="Wam Open Studio" width="80" height="auto">
    </div>
</div>