<div id="keyboard-shortcuts-header" class="header-window">
    <span class="title">Keyboard shortcuts</span>
    <button id="keyboard-shortcuts-close-button" class="close-button">X</button>
</div>
<div class="settings-body" style="display:flex; justify-content: center; align-items: center">
    <div class="settings-small-item-text">
        <p><b>SPACE</b> - play on/off</p>
        <p><b>Control or Cmd + C/X/V</b> - copy/cut/paste selected region.
            Paste can be done on another selected track.</p>
        <p><b>DEL or BACKSPACE on a selected region</b> - deletes the region.</p>
        <p><b>S on a selected region</b> - split region in two separate regions.</p>
        <p><b>M on many selected regions</b> - merge the regions.</p>
        <p><b>Double click on the loop handle</b> - turn loop mode on/off.</p>
        <p><b>Shift while dragging region/playhead/loop handle</b> - bypass grid snapping if snapping is on.</p>
    </div>
</div>