<div id="latency-header" class="header-window">
    <span class="title" data-i18n="window.latency">Latency Compensation</span>
    <button id="latency-close-button" class="close-button">X</button>
</div>
<div class="settings-body">
    <div class="settings-item">
        <button id="calibration-button" type="button" data-i18n="window.calibrate">Calibrate Latency</button>
    </div>
    <div class="settings-tiny-item-text" data-i18n="window.latency_instruction_1">
        Approach a Microphone near speakers, lower volume first, then press the button above.
        Increase slowly the volume until some latency values are displayed. Then stop.
        The latency compensation will be saved, no need to recalibrate on this device unless you change
        the hardware configuration.
    </div>
    <div class="settings-item">
        <input type="range" id="manual-latency" min="0" max="200" value="0">

        <label id="input-latency-label" for="manual-latency"><span
                data-i18n="window.latency_compensation_label">Compensation</span> 0 ms</label>
        <div id="roundtrip-latency-label" class="settings-item-text">
            <span data-i18n="window.latency_measured_roundtrip">Measured Roundtrip</span> : N/A
        </div>
        <div id="output-latency-label" class="settings-item-text">
            <span data-i18n="window.latency_output_latency">Output Latency</span> : N/A
        </div>
    </div>
    <div class="settings-item">
        <div class="settings-tiny-item-text" data-i18n="window.latency_explanation_1">
            Latency refers to the duration that your device needs to process the sound picked up by your
            microphone and transmit it back to your speakers. The extent of this delay is determined by the type
            of device you are using and any additional hardware such as headphones or external microphones.
            While it is impossible to entirely eliminate latency, we can assist you in finding ways to deal with
            it.
        </div>
        <br>
        <div class="settings-tiny-item-text" data-i18n="window.latency_explanation_2">
            Here’s a suggestion: Play a drum track while simultaneously recording some music or noise in rhythm.
            If you observe that the recorded track is out of sync with the drum track, it implies that you need
            to adjust for latency. You can accomplish this manually by adjusting the latency compensation slider
            or by using the automatic calibration button.
        </div>
    </div>
</div>