<div id="settings-header" class="header-window">
    <span class="title" data-i18n="settings.title">Settings</span>
    <button id="settings-close-button" class="close-button">X</button>
</div>
<div class="settings-body">
    <div class="settings-item">
        <label for="select-input-device" data-i18n="settings.input_device">Input Device</label>
        <select class="select-input" id="select-input-device"></select>
    </div>
    <div class="settings-item">
        <label for="select-output-device" data-i18n="settings.output_device">Output Device</label>
        <select class="select-input" id="select-output-device"></select>
    </div>
    <div class="settings-item">
        <label for="select-midi-input-device" data-i18n="settings.midi_device">MIDI Device</label>
        <select class="select-input" id="select-midi-input-device"></select>
    </div>
    <div class="settings-item">
        <label for="select-language" data-i18n="settings.language">Language</label>
        <select class="select-input" id="select-language">
            <option value="en">English</option>
            <option value="ja">日本語</option>
        </select>
    </div>
    <div class="settings-item">
        <button id="settings-shortcuts-btn" type="button" data-i18n="menu.keyboard_shortcuts">Keyboard
            Shortcuts</button>
    </div>
    <div class="settings-item">
        <button id="settings-menu-custom-btn" type="button" data-i18n="menu.customize_menu">Menu Customization</button>
    </div>
    <div class="settings-item">
        <button id="settings-latency-btn" type="button" data-i18n="settings.latency_btn">Calibrate Latency
            Compensation</button>
    </div>
    <div class="settings-item">
        <button id="settings-login-btn" type="button" data-i18n="settings.login">Login</button>
    </div>
</div>